<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/about.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class = 'ribbon'>
        <h1>About us</h1>
    </div>
    <div class="infobox">
        <div class="block">
            <h2>who are we</h2>
            <p><span>Lorem ipsum dolor sit,</span> amet consectetur adipisicing elit. Ut pariatur fuga, beatae optio dolore alias minus autem porro quaerat reiciendis illum architecto reprehenderit <span class="highlight">consequatur laboriosam?</span> Saepe placeat fugit suscipit itaque?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum eos soluta blanditiis accusantium amet. Mollitia repellendus quam facere iure alias.</p>
            <div class = 'seperation'></div>
            <h2>who are we different</h2>
            <p><span>Lorem ipsum dolor sit amet consectetur</span> adipisicing elit. Fugit, doloremque sit. Quasi tenetur voluptate mollitia labore cumque aspernatur illo at atque amet esse quidem <span class="highlight">fuga fugiat laudantium deleniti</span> temporibus accusamus, placeat debitis aliquam! Sit blanditiis magni totam, suscipit ratione quas earum vitae eius tempora impedit consectetur sequi voluptas nisi. Libero!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. <span class='highlight'>Tempora consequuntur</span> sequi deleniti reiciendis officia temporibus quo, impedit fuga eius tempore delectus autem quod magnam provident rerum, totam natus, saepe incidunt.</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore facere iusto quas nesciunt quasi repellendus odio ex deleniti aliquam commodi. Obcaecati nobis ad est quod explicabo ipsum maxime exercitationem. Veritatis!</p>
            <div class="btn">
                <form action="/">
                    <button>Home</button>
                </form>
                <form action="/contactus">
                    <button>Contact Us</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>