<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact us</title>
    <link rel="stylesheet" href="/contactstyle.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400" rel="stylesheet">
    <script src="https://kit.fontawesome.com/d5f24bb2aa.js" crossorigin="anonymous"></script>
</head>

<body>
    <h2 class="head">Contact Us</h2>
    <!-- <div class = 'ribbon'>
    </div> -->
    <div class="header">
            <!-- <div class='line1'></div> -->
            <h3 class='welcome'>We'd <span id='heart'><i class="far fa-heart"></i></span> to Help</h3>
            <p class='random_text'>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aperiam ex cumque asperiores, distinctio expedita reiciendis enim? Laudantium eveniet porro impedit, magni, voluptas expedita quia aut aliquid eligendi velit modi mollitia?
            </p>
    </div>
    <section>
        <article class='fill'>
            <form action="/contactentry" method="POST">
                
                <input type="text" name="name" id="name" placeholder="Your Name">
                <br>
                <input type="email" name="email" id="name" placeholder="Mail">
                <br>
                <div class="radiobox">
                    <input type="radio" name="gender" id="radio" value="M">Male
                    <input type="radio" name="gender" id="radio" value="F">Female
                </div>
                <br>
                <textarea name="feedback" id="feedback" cols="30" rows="10" placeholder="Message"></textarea>
                <br>
                <button>Submit</button>
            </form>
        </article>
        <article class='info'>
            
            <h4 id='info'>
                <span>
                    <i class="fas fa-map-marker-alt" id='infoicon'></i>
                </span>
                    location - Tech Lane Sector 23 ,<br>Noida , Utter Pradesh
            </h4>
            
            <h4 id='info'>
                <span>
                    <i class="far fa-envelope" id='infoicon'></i>
                </span>
                    Contact : 18000-18000
            </h4>
            <h4 id='info'>
                <span>
                    <i class="fas fa-phone-square-alt" id='infoicon'></i>
                </span>
                    Email : Creative_Space.co.in
                </h4>
            <div class='line2'></div>
        </article>
    </section>
</body>
</html>