<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400" rel="stylesheet">
    <link rel="stylesheet" href="/app.css">
</head>

<body>
    <div class="flex-container">
    <div class="container">
        <h1>JOIN US</h1>
        <p class="lead">Enter your email to join <strong><%= count %></strong> others on our waitlist. We are 100% not a cult. </p>
        <form method="POST" action='/register'>
            <input type="text" class="form" name="email" placeholder="Enter Your Email">
            <button>Join Now</button>
        </form>
    </div>
		<div class='btnbg'>
            <span>
                <form class="responce" method="GET" action='/contactus'>
                    <button class='btn'>Contact Us</button>
                </form>
                <form class="responce" method="GET" action='/aboutus'>
                    <button class='btn'>About Us</button>
                </form>
            </span>
        </div>
</div>
</body>