<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/thank_style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400" rel="stylesheet">
    <title>Thank You</title>
</head>
<body>
    <div class="header">
        <h2 >Thank you for getting in touch !</h2>
        <p>Our experts will reach you out soon </p>
    </div>
    <form action="/">
        <button>Home</button>
    </form>
    <div class="expert">
        <span>
                        <img class="expimg" src="https://images.pexels.com/photos/6953833/pexels-photo-6953833.jpeg" alt="">
                        <p class='exptext1'>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo a dignissimos qui ab, quo cum ea
                            quidem quisquam laborum iure perferendis voluptatibus ex ducimus eos optio necessitatibus culpa non hic porro.
                            Delectus amet architecto, voluptatem, odit fugiat nisi molestias nostrum consequuntur optio possimus, quia iusto?
                            Error doloribus voluptatum reiciendis sunt.
                            <br>
                            <br>
                            <strong>Name : Jane Smith </strong>
                        </p>
        </span>
        <span>
                        <img class="expimg" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRd42ycSVCJbFPpAHyCVNcLshWYmeAXorQMiQ&usqp=CAU" alt="">
                        <p class='exptext1'>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo a dignissimos qui ab, quo cum ea
                            quidem quisquam laborum iure perferendis voluptatibus ex ducimus eos optio necessitatibus culpa non hic porro.
                            Delectus amet architecto, voluptatem, odit fugiat nisi molestias nostrum consequuntur optio possimus, quia iusto?
                            Error doloribus voluptatum reiciendis sunt.
                            <br>
                            <br>
                            <strong>Name : Mark Steves </strong>
                        </p>
        </span>
        <div class="exp2"></div>
    </div>
</body>
</html>